$color: #262828;

body {
  color: $color;
  margin: 0;
}

.contact-divide,
.testimonials-divide,
.about-divide {
	font-size: 40px;
  text-align: center;
  font-weight: 800;
  font-family: 'Quicksand', serif;
  padding: 30px;
}

.about-description {
  margin: 0 100px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.testimonials-divide {
  padding-bottom: 20px;
}

.contact {
  background-color: #f7f7f7;
}

.testimonials {
  width: 100%;
}

.founder,
.link {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 800;
  letter-spacing: .5px;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.link {
  color: #00bcd2;

  &:hover {
    color: #00bcd2
  }
}

.dialog-text,
.founder-name {
  font-weight: 800;
  font-family: 'Raleway', serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.testimonials-description {
  font-family: 'Nunito', serif;
  letter-spacing: 1px;
  font-weight: 800;
}