.navbar-tabs {
	// display: block;
	width: 100%;
	z-index: 999;
	position: absolute;
	
	> div:first-child {
		background-color: transparent !important;
	}
}

.nav-item {
  height: 50px;
  line-height: 50px;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: rgba(0, 0, 0, .3);
	}
}
