 hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
 }

.page-header {
  text-align: center;
  padding: 10% 0px;
  background-image: url('/images/bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.name-header {
  font-size: calc(35px + 2vw);
  letter-spacing: 1px;
}

.description-header {
  font-size: calc(15px + 0.5vw);
  padding-top: 10px;
  padding-bottom: 7%;
}